

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(234, 234, 234);
}

body {
  padding: 60px;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.card-grid {   
  columns: 5 320px;   
  column-gap: 1em; 
}

.card {
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  height: 0%;  
  justify-content: center;
  margin-bottom: 1em;
  overflow: hidden;
}

.card p {
  background-color: white;
  flex: 1;
  font-size: 2rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.card img {
  width: 100%;
}

.title-display{
  display: flex;
  justify-content: space-between;
}

.del-btn {
  background-color: #ff5858; /* Red color for delete */
  color: #fff; /* Text color */
  padding: 10px 15px; /* Padding for the button */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  font-size: 14px; /* Font size */
  height: fit-content;
}